html[data-steeple-theme-extension="sepia"] {
  --color-background: #f3ebd8;
  --color-white-value: 250 245 235;
  --color-white: rgb(var(--color-white-value));
  --color-black-value: 0 0 0;
  --color-black: rgb(var(--color-black-value));
  --color-grey-scale-1: #E8E8E8;
  --color-grey-scale-2: #D1D0D0;
  --color-grey-scale-3: #BBB9B8;
  --color-grey-scale-4: #A6A19F;
  --color-grey-scale-5: #928984;
  --color-grey-scale-6: #7E706A;
  --color-grey-scale-7: #675952;
  --color-grey-scale-8: #50423B;
  --color-grey-scale-9: #372B26;
  --color-grey-scale-10: #1D1512;
}
